<%= form_for(@future_trip) do |f| %>
  <% if @future_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future_trip.errors.count, "error") %> prohibited this future_trip from being saved:</h2>

      <ul>
      <% @future_trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
