<%= simple_form_for(:session, url: session_index_path) do |f| %>

  <fieldset>
    <legend>Sign In</legend>

    <div id="error_explanation"></div>


    <%= f.input :email %>
    <%= f.input :password %>

    <div class="actions login">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
