<section class="unique"></section>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

          <!-- Add Trip Modal -->
          <div id="registration-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                    </div>

                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

          <!-- Add Trip Modal -->
          <div id="login-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                    </div>

                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>
